<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="author" content="Aymeric Wilke">
        <meta name="description" content="Scherzo is an easy-to-use micro-framework allowing static websites to have Symfony-inspired router and views.">
        <meta name="keywords" content="Scherzo PHP micro framework for static websites">
        <meta name="robots" content="index, follow">
        <link rel="icon" type="image/png" href="/favicon.png" />
        
        <meta property="og:title" content="Scherzo!">
        <meta property="og:site_name" content="A PHP micro-framework for static websites">
        <meta property="og:url" content="https://scherzo.io">
        <meta property="og:description" content="Scherzo is an easy-to-use micro-framework allowing static websites to have Symfony-inspired router and views.">
        <meta property="og:type" content="product">
        <meta property="og:image" content="https://scherzo.io/favicon.png" />
        
        <meta name="twitter:card" content="product">
        <meta name="twitter:site" content="@AymericWilke">
        <meta name="twitter:title" content="Scherzo : A PHP micro-framework for static websites">
        <meta name="twitter:description" content="Scherzo is an easy-to-use micro-framework allowing static websites to have Symfony-inspired router and views.">
        <meta name="twitter:image:src" content="https://scherzo.io/favicon.png">

		<title>{% block title %}Scherzo!{% endblock %}</title>
		<link rel="stylesheet" href="/bootstrap.min.css">
	</head>

	<body>
		<div class="container-fluid">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>