<!doctype html>
<html lang="en">
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
        <meta name="author" content="Aymeric Wilke">
        <meta name="description" content="Scherzo is an easy-to-use micro-framework allowing static websites to have Symfony-inspired router and views.">
        <meta name="keywords" content="Scherzo PHP micro framework for static websites">
        <meta name="robots" content="index, follow">
        <link rel="icon" type="image/png" href="/favicon.png" />
        
        <meta property="og:title" content="Scherzo!">
        <meta property="og:site_name" content="A PHP micro-framework for static websites">
        <meta property="og:url" content="https://scherzo.io">
        <meta property="og:description" content="Scherzo is an easy-to-use micro-framework allowing static websites to have Symfony-inspired router and views.">
        <meta property="og:type" content="product">
        <meta property="og:image" content="https://scherzo.io/favicon.png" />
        
        <meta name="twitter:card" content="product">
        <meta name="twitter:site" content="@AymericWilke">
        <meta name="twitter:title" content="Scherzo : A PHP micro-framework for static websites">
        <meta name="twitter:description" content="Scherzo is an easy-to-use micro-framework allowing static websites to have Symfony-inspired router and views.">
        <meta name="twitter:image:src" content="https://scherzo.io/favicon.png">

		<title>{% block title %}Scherzo!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	</head>

	<body>
		<div class="container-fluid">
			{% block content %}
			{% endblock %}
		</div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	</body>
</html>
